* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

main {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(147, 181, 242, 1) 35%, rgba(0, 212, 255, 1) 100%);
}